<table class="table table-striped">
<% if (source) { %>
<title><%= source %></title>
<% } %>
<thead>
  <tr>
    <th>Time</th>
    <th>Status</th>
    <th>Method</th>
    <th>Path</th>
    <th>Source</th>
  </tr>
</thead>
<tbody>
<% collection.forEach(function(r) { %>
  <tr>
    <td><%= r.time %></td>
    <td>
      <% if (r.status >= 500) { %> <span class="label label-danger"><%= r.status %></span>
      <% } else if (r.status >= 400) { %> <span class="label label-warning"><%= r.status %></span>
      <% } else if (r.status >= 300) { %> <span class="label label-info"><%= r.status %></span>
      <% } else { %> <span class="label label-default"><%= r.status %></span><% } %>
    </td>
    <td><%= r.method %></td>
    <td><%= r.path %></td>
    <td><%= r.source %></td>
  </tr>
<% }) %>
</tbody>
</table>
