<li <% if (typeof current !== 'string') { %> class="active" <% } %> >
  <a href="#source/">ALL</a>
</li>

<% collection.each(function(r) { %>
  <li <% if (current == r.get('source')) { %> class="active" <% } %> >
    <a href="#source/<%= r.get('source') %>">
      <%= r.get('source') %> (<%= r.get('total') %>)
      <br>
      <label class="small">
        <%= r.get('time_min') %> - <br> <%= r.get('time_max') %>
      </label>
    </a>
  </li>
<% }) %>
